body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

/*
  Modal Styles
 */
.modal-override {
  position: fixed;
  top: 60px;
  right: 99%;
  bottom: 99%;
  left: 0px;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  top: 60px;
  width: 35%;
  height: 80%;
  min-width: 300px;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  z-index: 100;
}

.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  top: 60px;
  width: 15%;
  height: 20%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  z-index: 100;
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  padding-top: 50px;
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

.modal-push-right {
  margin-left: 70%;
  color: crimson;
}

.modal-right-panel-title-center {
  width: 100%;
  text-align: center;
}

.modal-right-panel-title-coordinates {
  margin-left: 75%;
}

.modal-right-panel-full-height {
  height: 85%;
  width: 100%;
}

.iframe-body {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}
